- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      %p
        正しく入力されていない箇所が
        = object.errors.count
        個あります
      %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
