[mysqld]
####slave####
#log-bin=mysql-bin
#server-id=1001
####slave####


default-storage-engine=InnoDB

# Do not these paths for docker
#datadir=/var/lib/mysql
#socket=/var/lib/mysql/mysql.sock

user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# default-character-set=utf8
character-set-server=utf8
explicit_defaults_for_timestamp = true

innodb_file_per_table=1
innodb_file_format=Barracuda
max_connections=100
table_open_cache = 4096
#thread_cache=300
general_log=ON
general_log_file=/var/log/mysql/query.log
slow_query_log=ON
slow_query_log_file=/var/log/mysql/slow_query.log
long_query_time=1



innodb_buffer_pool_size=2GB
innodb_log_buffer_size = 64MB
innodb_additional_mem_pool_size = 20M
query_cache_limit = 16M
query_cache_size = 512M
query_cache_type = 1
max_heap_table_size = 256M
tmp_table_size = 256M
#tmp_table_size = 512M
innodb_log_file_size = 256M
#innodb_log_file_size = 10B
innodb_log_files_in_group = 2
thread_cache_size = 100

#sort_buffer_size = 8M
sort_buffer_size = 4M
read_rnd_buffer_size = 1M
join_buffer_size = 256K

skip-name-resolve

net_write_timeout = 3600
net_read_timeout = 3600

[client]
# default-character-set=utf8
# character-set-server=utf8

[mysqldump]
# default-character-set=utf8
# character-set-server=utf8

[mysql]
# default-character-set=utf8
# character-set-server=utf8

[mysqld_safe]
log-error=/var/log/mysql/mysql_error.log
pid-file=/var/run/mysqld/mysqld.pid


